:root {
  --color-secondary: #a2ca4a;
}

body,
.s-about__process h3::before,
.s-contact,
.s-about .horizontal-line::before {
  background: var(--color-primary) !important;
}

.s-hero__bg {
  background-image: url(/images/bg.jpg);
}

.s-hero__bg::after {
  background: none !important;
}

.text-white {
  color: white !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.s-hero__video-link {
  background: var(--color-secondary) !important;
}

.section-title h3 {
  color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.s-header__logo img {
  width : 48px;
  height: 48px;
}

.s-clients {
  padding-top: calc(1 * var(--space)) !important;
}

@media screen and (max-width: 1200px) {
  .s-contact__email {
    font-size: 8vw !important;
  }

  .s-hero__content h1 span {
    display: block;
  }
}
