html {
  scroll-behavior: smooth;
}

body {
  background-color: #0B0B0F;
  color: #e5e7eb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0B0B0F;
}

::-webkit-scrollbar-thumb {
  background   : #2D2D3A;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7C3AED;
}

.blob-shape {
  border-radius: 64% 36% 28% 72% / 65% 38% 62% 35%;
}
